/* 
**  > NOTAS SOBRE SELETORES
**  ---------------------------------------------------------------------------------
**  [seletor universal]     *           ex.: * {propriedade: valor}
**  [elemento]        palavra-chave     ex.: p {propriedade: valor}
**  [classe]                .           ex.: .nome-classe {propriedade: valor}
**  [identificador]         #           ex.: #nome-identificador {propriedade: valor}
**  [atributo]             [ ]          ex.: [lang] {propriedade: valor}
**  [pseudo-classe]         :           ex.: p:first-child(3) {propriedade: valor}
**  [pseudo-elemento]       ::          ex.: p::first-letter {propriedade: valor}
**  ---------------------------------------------------------------------------------
*/

* {
    font-family: 'Courier New', Courier, monospace;
}


a:hover {
    color: orangered;
}

.artigo::first-letter {
    font-size: xx-large;
}

article {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
}

#menu-principal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu-principal li {
    float: left;
}

#menu-principal li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu-principal li a:hover {
    background-color: #111;
}

    #menu-ativo {
    background: orangered;
}

.leia-mais {
    text-align: left;
}

[src] {
    float: right;
}