body {
    font-family: 'Courier New', Courier, monospace;
}

#cadastro fieldset{
    width: 300px;
    padding-right: 36px;
}

.itens {
    width: 100%;
    margin: 8px;
}

#feedback textarea{
    width: 100%;
}

#feedback fieldset {
    width: 400px;
    padding-right: 18px;
}

#youtube {
    width: 640px;
    height: 480px;
}