/* Cor como Hexadecimal */

body {
    color: #0000ff;
}

/* Cor como RGB, Tamanho da fonte*/

h1 {
    color: rgb(0, 255, 0);
    font-size: 0.8cm;
}

/* Cor como palavra-chave */
p {
    color: crimson;
}