/* Replicado apenas para não perder o estilo visual, com a remoção do float de img 'src' */

*{margin:0px;}
a:hover{color:orangered;}
.artigo::first-letter{font-size:xx-large;}
article{margin:10px 0;border:1px solid#ccc;padding:10px;}
#menu-principal ul{list-style-type:none;margin:0;padding:0;overflow:hidden;background-color:#333;}
#menu-principal li{float:left;}
#menu-principal li a{display:block;color:#fff;text-align:center;padding:14px 16px;text-decoration:none;}
#menu-principal li a:hover{background-color:#111;}
#menu-ativo{background:orangered;}
.leia-mais{text-align:left;}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;
}

.destaque {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.caixa {
    background-image: linear-gradient(#fff, rgb(185, 245, 240));
    background-color: #fff;
    opacity: 50%;
    width: 70%;
    margin: 0 auto;
    clear: both;
    overflow: auto;
}

.caixa img{
    float: left;
    margin: 8px;
    width: 88px;
}