#pizza-logo {
    width: 70px;
}

.bg-vermelho {
   background-color: #d64541;
}

.bg-vermelho-2 {
    background-color: #992f2c;
}

.bg-vermelho-3 {
    background-color: #5e1b18;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: bold;
    color: #fff !important;
}

.nav-link:hover {
    color: #f2c03e !important;
}

.nav-item {
    margin-left: 20px;
}

.dropdown-menu a {
    font-size: 10px;
}

.dropdown-item:hover {
    background-color: #5e1b18;
}

.preco {
    font-weight: bold;
    font-size: 20px;
    color: #d64541;
}

.navbar-toggler {
    background-color: #f75651;
    padding: 12px;
}